@font-face {
  font-family: "Clash Display";
  src: url("fonts/ClashDisplayRegular.otf") format("opentype");
}

body {
  font-family: "Clash Display" !important;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y:scroll;
  white-space: nowrap;
}

.section-1 .navbar-nav .nav-item .active {
  color: #ff5555 !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.section-1 .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
.d-flex .btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  top: 40px;
  left: 1085px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.download-near-star {
  margin-left: 50px !important;
  size: 15px;
  margin-top: 40px;
  color: black;
  transform: rotate(25deg);
}

.section-1 {
  margin-top: 10px;
}
.section-2 {
  margin-top: 50px;
}
.section-2 .back-img {
  position: absolute;
  width: 517px;
  height: 330px;
  top: 50px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
}
.section-2 .heading {
  font-family: Clash Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  position: relative;
}
.section-2 .heading p {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.section-2 .get-started-btn {
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  top: 447px;
  left: 175px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.section-2 .heading-col-btn {
  width: 374px;
  height: 60px;
  top: 447px;
  left: 175px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.section-2 .watch-video-list {
  width: 154px;
  height: 29px;
  top: 462px;
  left: 395px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  list-style: none;
  padding-top: 15px;
}
.section-2 .watch-video-icon {
  width: 29px;
  height: 29px;
  top: 462px;
  left: 395px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.section-2 .watch-video-click {
  width: 111px;
  height: 28px;
  top: 462px;
  left: 438px;
  gap: 0px;
  opacity: 0px;
}
.section-2 .heading .img {
  margin-top: 20px;

  width: 569px;
  height: 357.74px;
  top: 523.75px;
  left: 141px;
  gap: 0px;
  opacity: 0px;
  position: relative;
}
.section-2 .heading-col-btn .img .star {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 500px;
  left: 214.94px;
  gap: 0px;
  opacity: 0px;
  angle: -45 deg;
}

.phone-images {
  /* background-image: url(images/Group\ 35887.png); */

  background-position: right center;
  background-repeat: no-repeat;
  width: 925.49px;
  height: 725.49px;
  top: -115px;
  left: -890px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.phone-images .phone-img .first-img {
  position: relative;
  z-index: 1000;
  bottom: 80px;
}
.phone-images .phone-img .second-img {
  left: 880px;
  position: absolute;
  z-index: 900;
  bottom: -180px;
}
.phone-images .phone-img .third-img {
  left: 900px;
  position: absolute;
  bottom: -220px;
}
.phone-images .phone-img .back-img-phone {
  position: absolute;
  bottom: -250px;
}

.section-3 .mobile-img2 {
  background-image: url(images/Group\ 35896.png);
  position: relative;
  gap: 0px;
  opacity: 0px;
  background-size: contain;

  background-size: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.section-3 h2 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #ff5555;
}
.section-3 h3 {
  font-family: Clash Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #000000;
}
.section-3 .para1 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section-3 .head1 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section3-near-star {
  position: absolute;
  top: 15%;
}
.section-3 .content {
  margin-top: 60px;
  position: relative;
}
.content .H3 {
  text-transform: capitalize;
}
.section-3 .content .content-side-img {
  position: absolute;
  right: 0%;
  top: 0%;
  background-position: right;
}
.section-4 .mobile-img3 {
  background-image: url(images/Group\ 35896.png);
  position: relative;
  gap: 0px;
  opacity: 0px;
  background-size: contain;

  background-size: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  bottom: 100px;
}
.section-4 .mobile-img3 .section4-near-star {
  position: absolute;
  top: 15%;
  right: 5%;
}
.section-4 .content-2 {
  margin-top: 80px;
}
.section-4 .content-2 h2 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #ff5555;
}
.section-4 .content-2 H3 {
  font-family: Clash Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #000000;
}
.section-4 .para2 {
  font-family: Clash Display;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section-4 .para2 img {
  width: 38px;
  height: 38px;
  top: 1892.49px;
  left: 175px;
  gap: 0px;
  opacity: 0px;
}
.section-4 .para3 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section-5 .mobile-img4 {
  background-image: url(images/Group\ 35896.png);
  position: relative;
  gap: 0px;
  opacity: 0px;
  background-size: contain;

  background-size: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  bottom: 100px;
}
.section-5 .mobile-img4 .section5-near-star {
  position: absolute;
  top: 10%;
  right: 5%;
}
.section-5 .mobile-img4-top {
  position: absolute;
  top: 30%;
  left: 36%;
}
.section-5 .content-3 .para4 {
  font-family: Clash Display;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section-5 .content-3 .para5 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.section-5 .content-3 {
  margin-top: 60px;
}
.section-5 .content-3 .section5-near-star {
  position: absolute;
  bottom: 30%;
  right: 15%;
}
.section-5 .content-3 {
  position: relative;
}
.section-6 .head2 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.section-6 .head3 {
  font-family: Clash Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 200px;
}
/* .container-sm .section-6 {
  margin-top: -100px !important;
} */
.section-6 .mobile-img5 {
  background-image: url(images/Group\ 35896.png);
  position: relative;
  gap: 0px;
  opacity: 0px;
  background-size: contain;

  background-size: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  bottom: 100px;
}
.section-6 .content-4 .para6 {
  font-family: Clash Display;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  margin-top: -50px;
}
.section-6 .content-4 .para7 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-align: justify;
}
.section-6 .content-4 .para7 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}
.section-6 .section6-near-star {
  position: absolute;
  bottom: 20%;
  left: 5%;
}
.section-7 .head4 {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #ff5555;
  /* margin-left: 50px; */
}
.section-7 .head5 {
  font-family: Clash Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  /* margin-left: 50px; */
}
.section-7 .Faq-first-col .faq-head {
  /* font-family: Clash Display; */
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: justify;
  color: #ffffff;
}
.section-7 .Faq-first-col .faq-para {
  /* font-family: Clash Display; */
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: justify;
  color: #ffffff;
}
.section-7 {
  margin-top: -150px;
  margin-bottom: 100px;
}
.section-7 .Faq-first-col {
  background-color: #ff5555;
  border-radius: 8px;
  padding: 20px;
  text-align: justify;
  margin-top: 20px;
}
.second .Faq-second-col {
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 20px;
  text-align: justify;
  margin-top: 0px;
  color: #000000;
}
.section-7 .Faq-second-col .faq-head {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: justify;
  padding: 20px 20px 0 20px;
  padding-bottom: none !important;
  margin-bottom: 0 !important;
}
.section-7 .Faq-second-col .faq-para {
  /* font-family: Clash Display; */
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: justified;
  padding: 15px;
  padding-top: none !important;
}

/*  */
.section-9 .footer-para1 {
  font-family: Clash Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.section-9 .footer-para1 i {
  color: #ff5555;
  padding-right: 10px;
  padding-left: 10px;
}
.section-9 .footer-col-1 {
  margin-right: 20px;
}
.section-9 .footer .footer-head {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.section-9 .footer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.section-9 .footer .Email {
  color: #81848a;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.section-9 .footer .subscribe-btn {
  /* font-family: Clash Display; */
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 18px;
  border-radius: 5px;
}
.section-10 .copyright-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.section-8 {
  background-color: #000000;
  padding: 50px 100px 0px 100px;
  margin-bottom: 80px;
  position: relative;
}
.container-sm .section-8-back-img {
  position: absolute;
}
.section-8 .col-7 {
  margin-top: 80px;
}
.section-8 .col-7 p {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  text-transform: capitalize;
}
.section-8 .col-7 .download-app-para {
  /* font-family: Clash Display; */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  text-transform: capitalize;
}
.section-8 .col-7 .Download-app-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;

  width: 208px;
  height: 60px;
  top: 292px;

  opacity: 0px;
  text-align: center;
}
.section-8 .col-7 .Download-app-btn i {
  font-size: 30px;
}
.section-8 .section8-near-star {
  position: absolute;

  left: 35%;
  color: white;
}
.section-8 .three-phone-img {
  width: 100%;
  height: 459.91px;
  position: relative;
  margin-left: 100px;
  background-image: url(images/Group\ 1000002356.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
}

.container-sm .section8-out-star {
  position: absolute;

  left: 2%;
  margin-top: 150px;
}
.section-8 .section8-phone-img-near-star {
  position: absolute;

  width: 64px;
  height: 64px;
  top: 34px;
  left: 749px;
  gap: 0px;
  opacity: 0px;
}
